.acordion{
    background-color: #614D66;
    padding: 0;
    border: rgba(255, 255, 255, 0.0);
}

.acordion-boton:hover{
    background-color: rgb(63, 49, 66);
}

.acordion-boton:focus{
    background-color: #614D66;
}

.acordion-boton{
    color: white !important;
    padding: 1vh;
    border: rgba(255, 255, 255, 0.0);
    font-size: large;
}

.caja-metodos{
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 3vh;
}

.card-metodo{
    background-color: rgba(255, 255, 255, 0.0);
    border-color: rgba(255, 255, 255, 0.0);
}

.imagen-equipo{ 
    width: 100%;
    height: auto;
}

.imagen-individuo{
    width: 70%;
    height: auto;
}

@media (max-width: 992px) {
    .imagen-equipo{
        width: 50%;
        height: auto;
    }
}
.fondo-imgsn{ 
    display: flex;
    align-items: center;
    justify-content: center;
}

.icono{
    color: #CB73FF ;
    align-self: center;
}
