.titulo-sobreNosotros{
    color:#ffffff;
}

.subtitulo-sobreNosotros{
    color:whitesmoke;
}

.titulo-metodo{
    color:#ffffff;
}

.texto-metodo{
    color:whitesmoke;
}

.titulo-individuo{
    color:#ffffff;
    text-align: center;
    font-size: x-large;
}

.texto-individuo{
    color:whitesmoke;
}

.espaciado-SobreNosotros{
    height: 7vh;
}

.espaciado-SobreNosotros2{
    height: 3vh;
}

.espaciado-SobreNosotros3{
    height: 6vh;
}
.acordion{
    background-color: #A352B3;
    padding: 0;
    border: rgba(255, 255, 255, 0.0);
}

.acordion-boton{
    color: white !important;
    padding: 4;
    border: rgba(255, 255, 255, 0.0);
    font-size: large;
}

.fondo-equipo{
    background-color: #BC65FF;
    width: 100%;
}

.card-metodo{
    background-color: rgba(255, 255, 255, 0.0);
    border-color: rgba(255, 255, 255, 0.0);
}

@media (max-width: 578px) {
    .subtitulo-sobreNosotros{
        font-size: small;
    }
}

.imagen-equipo{
    
    width: 100%;
}

@media (max-width: 992px) {
    .imagen-equipo{
        width: 50%;
    }
}
.fondo-imgsn{

    display: flex;
    align-items: center;
    justify-content: center;
}