.home{
    background: url('Mermelada.png') no-repeat;
    background-color: white;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: top center;
}

.caja-animacion{
    padding-top: 40vh;
    padding-bottom: 15vh;
}

.caja-enunciado{
    padding-top: 40vh;
    padding-bottom: 15vh;
    display: flex;
    align-items: center;
}

.boton-contacto{
    width: 40%;
    margin-top: 2vh;
}

.boton-contacto:hover{
    color: white;
}

.titulo{
    color: #5C0049;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.subtitulo{
    color: #614D66;
}

@media (max-width: 768px) {
    .caja-enunciado{
        padding-top: 25vh;
    }
}

@media (max-width: 991px) {
    .home{
        background: url('MermeladaMovil.png') no-repeat;
    }

    .caja-animacion{
        padding-top: 3vh;
    }
    
    .caja-enunciado{
        padding-top: 35vh;
        padding-bottom: 0vh;
    }
    
    .caja-boton{
        display: flex;
        justify-content: center;
    }
    .titulo {
        align-content: center;
        text-align: center;
        font-size: xx-large;
        width: 100%;
    }
    .subtitulo {
        align-content: center;
        text-align: center;
        font-size: large;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .titulo{
        font-size: 2.8em;
    }
    .subtitulo{
        font-size: 1.5em;
    }
    .boton-contacto{
        font-size: 1.3em;
    }
}
@media (min-width: 1600px) {
    .titulo{
        font-size: 3.8em;
    }
    .subtitulo{
        font-size: 2em;
    }
    .boton-contacto{
        font-size: 1.5em;
    }
}

@media (max-width: 420px) {
    .titulo{
        font-size: x-large;
    }
    .letra-boton{
        font-size: .8em;
    }
}

@media (max-width: 350px){
    .letra-boton{
        font-size: .7em;
    }
}
