.espaciado-portafolio{
    height: 5vh; 
}

@media (max-width: 578px) {
    .caja-proyecto{
        width: 80%;
    }
    .caja-proyectos{
        display: flex;
        justify-content: center;
    } 
}

ul a{
    color: #A352B3;
    font-size: 1em;
}

@media (min-width: 1400px) {
    ul a{
        font-size: 1.5em;
    }
}