.fondo-servicios{ 
    align-items: center;
}

.fondo{
    background-color: #CB5AD1;
    height: 100%; 
}

.img-servicio{
    width: 100%;
}

.subtitulo-servicio{
    color: whitesmoke;
}

.titulo-servicio{
    color: white;
}

.fondo-texto-servicios{
    margin-top: 3em;
}
.fondo-img-servicios{
    margin-top: 3em;
}

@media ( max-width: 992px) {
    .img-servicio{
        width: 50%;
    }
}