.fondo-servicios{ 
    align-items: center;
}

.fondo{
    background-color: #BC65FF;
    height: 100vh;
}

.img-servicio{
    width: 100%;
}

.subtitulo-servicio{
    color: whitesmoke;
}

.titulo-servicio{
    color: white;
}

.fondo-texto-servicios{
    margin-top: 3em;
}
.fondo-img-servicios{
    margin-top: 3em;
}

@media ( max-width: 992px) {
    .fondo{
        background-color: rgba(188, 101, 255, 0.70);
        height: 100%;
    }
    .img-servicio{
        width: 50%;
    }

}

@media (min-width: 1200px) {
    .fondo{
        height: 100%;
    }
}