.footer{
    color: white;
}

@media ( max-width: 768px) {
    .caja-tag{
        display: flex ;
        justify-content: center;
    }
}

h5,a{
    color: white;
}

.fondo-footer{
    background-color: #A352B3;
}

.fondo-footer-copyright{
    background-color: #614D66;
}

.boton-tag:hover{
    color: #614D66;
}

.boton-tag:focus{
    outline: none !important;
    color: white;
    background-color: #A352B3;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;

}

.a-footer{
    color: white;
}

.a-footer:focus{
    color: white;
}